$primary: #284b63;
$secondary: #d97f43;
$accent: #fac64d;

$primary-light: #bcd8e8;
$secondary-light: #c2ac9d;
$accent-light: #f0ebdd;

$primary-dark: #153243;
$secondary-dark: #96582f;
$accent-dark: #96772f;

$primary-darker: #061721;
